@tailwind base;
@tailwind components;
.dropdown-content {
  @apply hidden h-0;
  @apply absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  @apply z-50 transition-all duration-500;
}

.dropdown:hover .dropdown-content {
  @apply block h-auto;
  @apply transition-all duration-500;
}
.selectr-input-clear {
  display: none !important;
}
.dark .selectr-container .selectr-selected,
.dark .selectr-container .selectr-options-container,
.dark .selectr-container .selectr-input {
  @apply bg-gray-800  !important;
  @apply text-gray-200  !important;
}
@tailwind utilities;
